*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contaner{
    width: 800px;
    height: 800px;
    border: 5px solid darkblue;
    background: gray;
    margin: 100px auto;


    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap;  */
    align-content: center;
    /* gap: 20px 60px; */
}

.block{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    background: white ;

}


.block:first-child{
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 60px
    
}


.block:last-child{
    order: -1;
    flex-shrink: 3;
    flex-grow: 4;
}

