h1{
    color :coral;
    font-style: italic;
}

p{
    color: aqua;
    font-style: unset;
}

body{
    height: 80vh;
    background-color: aquamarine;
    background-image: url(../img/6790329136.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

div{
    max-width: 300px;
    min-height: 500px;
    background-color:cornsilk;

    padding: 30px;
    margin:auto;
    /* border: 5px; */
    border: solid rgb(191, 191, 212) 5px;
}